head ul {
    display: inline;
    margin: 10px;
    padding: 0;
    width: 25%;
    height: 100%; /* Full height */
    color: red;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

li {
    display: inline;
    color: red;
}

li a {

    text-align: left;
    padding: 1px 3px;
    text-decoration: none;


}

body ul{
    text-align: left;
    display: block;
    margin: 10px;
    padding: 30px;
    width: 25%;
    height: 100%; /* Full height */
    color: red;

}

footer ul{

    padding: 10px 15px;
    font-size:15px;
}
h1 {
    background-color: #F1F1F1;
    text-align: left;
    padding: 20px;
    color: saddlebrown;
}

p {
    color:firebrick ;
    text-align: left;
    font-family: "Andale Mono";
    font-size: 20px;
}

