
 body {
   height: 100%;
   weight: 100%;

 }

.main-nav {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  overflow: hidden;
  background-color: #333;

}

.main-nav li {
  float: left;

}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-nav li a:hover {
  background-color: grey;
}

 .main-nav .active {
   background-color: #4CAF50;
 }

.dropdown-content
{

}

.left-nav  {
   list-style-type: none;
   margin: 50px;
   padding: 0px;
   position: absolute;
   top:250px;

}

.left-nav li
{
  padding: 15px;

}

 .left-nav li a {
   display: block;
   width: 60px;
   background-color: white;
   text-decoration: none;
   color: black;
 }

 .left-head
 {
   color: darkgrey;
   font-weight: bold;
   opacity: 0.8;
   text-transform: uppercase;


 }

 .right-nav {
   list-style-type: none;
   margin: 50px;
   padding: 0px;
   position: absolute;
   top:250px;
   right: 30px;
 }

 .right-nav li
 {
   padding: 8px;
 }

 .right-nav li a
 {
   display: block;
   width: 60px;
   background-color: white;
   color:black;
   text-decoration: none;
   opacity: 0.5;
 }

 .paragraph1 {
   position: absolute;
   top: 300px;
   left: 450px;
   font-size: 25px;
 }

 .blue-background
 {
   background-color: royalblue;
   padding:35px;
   height: 25vh;
   width: 100%;
   transform: translate(0, 100vh);


 }

 .p2 {
    font-size: 50px;
    color: white;
    text-align: center;

 }

 .text-blue-nav
 {
   position: absolute;
   left: 45%;
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   font-size: 35px;
 }

 .text-blue-nav li
 {
   text-align: center;

 }
.text-blue-nav li a
 {
   text-decoration: none;
   color: white;

 }


 .text-blue-nav li a:hover
 {
   background-color: grey;

 }

 .text-blue-nav .active2 {
   background-color: rebeccapurple;
   opacity: 0.5;
 }

.black-background
{
  background-color: black;
  padding:35px;
  height: 25vh;
  width: 100%;
  transform: translate(0, 100vh);
  opacity: 0.75;
}

.p3 {
  color: white;
  font-size: 25px;
  text-align: center;
}

.footer-nav
{
  list-style-type: none;
  padding: 15px;
  position: absolute;
  left:30%;

}

.footer-nav li
{
  display: inline-block;


}

.footer-nav li a
{
  text-decoration: none;
  color: white;
  margin: 15px;
  padding: 30px;

}
